* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {}

body {
    font-family: "Spectral", serif;
    color: black;
}

input {
    border: none;
    border-bottom: solid;
    background: transparent;
    text-align: center;
    width: 100%;
}

button {
    border: none;
    outline: none;
    padding: .5rem 1rem;
    font-size: .8rem;
    cursor: pointer;
    border-radius: 2.5rem;
    text-transform: uppercase;
    font-family: "Spectral", serif;
    font-weight: 500;
}

button:hover {
    background-color: bisque;
}

ul li {
    list-style: none;
    font-size: 1rem;
    padding: .5rem .5rem .5rem 1rem;
    user-select: none;
    cursor: pointer;
}

ul li ::before {
    content: '';
}

ul li.checked {
    color: white;
    text-decoration: line-through;
}

span {
    font-size: 1.5em;
    text-align: center;
}

span:hover {
    color: white;

}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

#clock-container {
    font-size: 6rem;
}

#greeting-container {
    font-size: 3.5rem;

}

#quote-container {
    font-size: 1.5rem;
    font-style: italic;
    position: fixed;
    justify-content: center;
    text-align: center;
    left: 0;
    bottom: 1rem;
    right: 0;
    margin: auto;
}

#focus-form {
    display: inline-flex;
    width: 100%;
}

#add-quote-form {
    display: inline-flex;
    justify-content: space-evenly;
    width: 50%;
}

#task-container {
    font-size: 1rem;
    width: 25%;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}